body {
    background-image: url(pictures/background.jpeg);
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

#frontPage{
    object-position: 50%;
    padding: 10px;
    position: absolute;
    text-align: center;
    margin: 25%;
    width: 70%;
    background-color: white;
    border-radius: 15px;
}

#nextButton {
    display: inline;
}

#scoreButton {
    display: none;
}

#finalPage {
    display: none;
}

#quizContainer {
    display: block;
}